.title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
  }
  .handle {
    font-weight: normal;
    font-size: 18px;
  }
  .profile-image {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .label {
    font-weight: bold;
  }