<ion-content class="facebook-bg">
  <div class="main">
    <ion-row>
      <ion-col>
        <ion-img class="logo" src="assets/facebook_log.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="title">Ionic 4 Facebook Auth Starter</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>From <a href="https://store.enappd.com">Enappd</a> Developer Team</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" (click)="login()">Login with Facebook</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>